.navbar2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding:0.2rem;
    height:85px; 
  }
  
  .navbar2 > .container,
  .navbar2 > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar2-brand {
    display: inline;
    /* padding-top: 0.3125rem;
    padding-bottom: 0.3125rem; */
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
  
  }
  
  .navbar2-brand:hover, .navbar2-brand:focus {
    text-decoration: none;
  }
  
  .navbar2-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .navbar2-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
  
  .navbar2-nav .dropdown-menu {
    position: static;
    float: none;
  }
  
  .navbar2-text {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .navbar2-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  
  .navbar2-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  
  .navbar2-toggler:hover, .navbar2-toggler:focus {
    text-decoration: none;
  }
  
  .navbar2-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }
  
  @media (max-width: 575.98px) {
    .navbar2-expand-sm > .container,
    .navbar2-expand-sm > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  @media (min-width: 576px) {
    .navbar2-expand-sm {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
    .navbar2-expand-sm .navbar2-nav {
      flex-direction: row;
    }
    .navbar2-expand-sm .navbar2-nav .dropdown-menu {
      position: absolute;
    }
    .navbar2-expand-sm .navbar2-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar2-expand-sm > .container,
    .navbar2-expand-sm > .container-fluid {
      flex-wrap: nowrap;
    }
    .navbar2-expand-sm .navbar2-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar2-expand-sm .navbar2-toggler {
      display: none;
    }
  }
  
  @media (max-width: 767.98px) {
    .navbar2-expand-md > .container,
    .navbar2-expand-md > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  @media (min-width: 768px) {
    .navbar2-expand-md {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
    .navbar2-expand-md .navbar2-nav {
      flex-direction: row;
    }
    .navbar2-expand-md .navbar2-nav .dropdown-menu {
      position: absolute;
    }
    .navbar2-expand-md .navbar2-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar2-expand-md > .container,
    .navbar2-expand-md > .container-fluid {
      flex-wrap: nowrap;
    }
    .navbar2-expand-md .navbar2-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar2-expand-md .navbar2-toggler {
      display: none;
    }
  }
  
  @media (max-width: 991.98px) {
    .navbar2-expand-lg > .container,
    .navbar2-expand-lg > .container-fluid {
      padding:0;
    }
  }
  
  @media (min-width: 992px) {
    .navbar2-expand-lg {
      flex-flow: row nowrap;
      justify-content: flex-start;
      padding:0;
    }
    .navbar2-expand-lg .navbar2-nav {
      flex-direction: row;
      padding:0;
    }
    .navbar2-expand-lg .navbar2-nav .dropdown-menu {
      position: absolute;
    }
    .navbar2-expand-lg .navbar2-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar2-expand-lg > .container,
    .navbar2-expand-lg > .container-fluid {
      flex-wrap: nowrap;
    }
    .navbar2-expand-lg .navbar2-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar2-expand-lg .navbar2-toggler {
      display: none;
    }
  }
  
  @media (max-width: 1199.98px) {
    .navbar2-expand-xl > .container,
    .navbar2-expand-xl > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  @media (min-width: 1200px) {
    .navbar2-expand-xl {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
    .navbar2-expand-xl .navbar2-nav {
      flex-direction: row;
    }
    .navbar2-expand-xl .navbar2-nav .dropdown-menu {
      position: absolute;
    }
    .navbar2-expand-xl .navbar2-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar2-expand-xl > .container,
    .navbar2-expand-xl > .container-fluid {
      flex-wrap: nowrap;
    }
    .navbar2-expand-xl .navbar2-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar2-expand-xl .navbar2-toggler {
      display: none;
    }
  }
  
  .navbar2-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  
  .navbar2-expand > .container,
  .navbar2-expand > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  
  .navbar2-expand .navbar2-nav {
    flex-direction: row;
  }
  
  .navbar2-expand .navbar2-nav .dropdown-menu {
    position: absolute;
  }
  
  .navbar2-expand .navbar2-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  
  .navbar2-expand > .container,
  .navbar2-expand > .container-fluid {
    flex-wrap: nowrap;
  }
  
  .navbar2-expand .navbar2-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  
  .navbar2-expand .navbar2-toggler {
    display: none;
  }
  
  .navbar2-light .navbar2-brand {
    color: rgba(0, 0, 0, 0.9);
  }
  
  .navbar2-light .navbar2-brand:hover, .navbar2-light .navbar2-brand:focus {
    color: rgba(0, 0, 0, 0.9);
  }
  
  .navbar2-light .navbar2-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .navbar2-light .navbar2-nav .nav-link:hover, .navbar2-light .navbar2-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
  }
  
  .navbar2-light .navbar2-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3);
  }
  
  .navbar2-light .navbar2-nav .show > .nav-link,
  .navbar2-light .navbar2-nav .active > .nav-link,
  .navbar2-light .navbar2-nav .nav-link.show,
  .navbar2-light .navbar2-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
  }
  
  .navbar2-light .navbar2-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
  }
  
  .navbar2-light .navbar2-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar2-light .navbar2-text {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .navbar2-light .navbar2-text a {
    color: rgba(0, 0, 0, 0.9);
  }
  
  .navbar2-light .navbar2-text a:hover, .navbar2-light .navbar2-text a:focus {
    color: rgba(0, 0, 0, 0.9);
  }
  
  .navbar2-dark .navbar2-brand {
    color: #fff;
  }
  
  .navbar2-dark .navbar2-brand:hover, .navbar2-dark .navbar2-brand:focus {
    color: #fff;
  }
  
  .navbar2-dark .navbar2-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .navbar2-dark .navbar2-nav .nav-link:hover, .navbar2-dark .navbar2-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
  }
  
  .navbar2-dark .navbar2-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
  }
  
  .navbar2-dark .navbar2-nav .show > .nav-link,
  .navbar2-dark .navbar2-nav .active > .nav-link,
  .navbar2-dark .navbar2-nav .nav-link.show,
  .navbar2-dark .navbar2-nav .nav-link.active {
    color: #fff;
  }
  
  .navbar2-dark .navbar2-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  .navbar2-dark .navbar2-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar2-dark .navbar2-text {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .navbar2-dark .navbar2-text a {
    color: #fff;
  }
  
  .navbar2-dark .navbar2-text a:hover, .navbar2-dark .navbar2-text a:focus {
    color: #fff;
  }
  .navbar2 {
    display: none;
  }
  .navbar2 {
    width: 100%;
    padding: 1.875rem 1rem;
  
  }
  
  @media (max-width: 991px) {
    .navbar2 {
      padding: .875rem 1rem;
      height: 71px;
    }
  }
  
  .navbar2 .navbar2-brand {
    font-size: 1.75rem;
    color: #fff;
    font-weight: 500;
  }
  
  .navbar2 .navbar2-brand img {
    width: 150px;
    height:80%;
  }
  
  @media (max-width: 991px) {
    .navbar2 .navbar2-brand img {
      width: 150px;
    }
  }
  
  @media (max-width: 991px) {
    .navbar2 .navbar2-nav {
      padding: 1rem 1.5rem;
      height: 100%;
    }
  }
  
  .navbar2 .navbar2-nav .nav-item {
    margin-right: .25rem;
    margin-right: .25rem;
  }
  
  @media (max-width: 991px) {
    .navbar2 .navbar2-nav .nav-item {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-bottom: .25rem;
    }
  }
  
  .navbar2 .navbar2-nav .nav-item:last-child {
    margin-right: 0;
    margin-left: 1rem;
  }
  
  @media (max-width: 991px) {
    .navbar2 .navbar2-nav .nav-item:last-child {
      margin-left: 0;
    }
  }
  
  .navbar2 .navbar2-nav .nav-item .nav-link {
    color:#fff;
    font-size: 0.937rem;
    font-weight: 500;
    padding: 0.625rem 1.25rem;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    border-radius: 50px;
  }
  
  .navbar2 .navbar2-nav .nav-item .nav-link.btn {
    padding: 0.5rem 1.25rem;
    font-size: 14px;
   
  }
  
  @media (max-width: 991px) {
    .navbar2 .navbar2-nav .nav-item .nav-link {
      display: block;
      padding: .625rem;
    }
  }
  
  .navbar2 .navbar2-nav .nav-item .nav-link.active {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
  }
  
  .navbar2 .navbar2-nav .nav-item .nav-link:hover, .navbar2 .navbar2-nav .nav-item .nav-link:focus {
    border-radius: 50px;
  }
  
  .navbar2 .navbar2-nav .nav-item:last-child .nav-link.active {
    background: #00d663;
    border-radius: 50px;
  }
  
  .navbar2 .navbar2-toggler {
    color: #ffffff;
  }
  
  .navbar2 .navbar2-toggler-icon {
    height: auto;
  }
  
  @media (max-width: 991px) {
    .navbar2 .navbar2-collapse {
      position: fixed;
      right: -280px;
      width: 280px;
      top: 0;
      height: 100%;
      background: #ffffff;
      z-index: 999999;
      overflow-y: scroll;
      -webkit-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
    }
    .navbar2 .navbar2-collapse.show {
      right: 0;
    }
    .navbar2 .navbar2-collapse .logo-mobile-menu {
      width: 120px;
    }
    .navbar2 .navbar2-collapse .navbar2-nav .nav-item .nav-link {
      color: #000000;
    }
  }
  
  @media (max-width: 991px) and (max-width: 991px) {
    .navbar2 .navbar2-collapse .close-menu {
      color: #000000;
      padding: 2px 4px;
      background: transparent;
      display: inline-block;
      cursor: pointer;
      font-size: 20px;
      width: 30px;
      height: 30px;
      text-align: center;
    }
  }
  .sidebar-overlay .navbar2 {
    padding: .875rem .1rem;
    position: static;
    z-index: auto;
    background: #1610e5;
  }
  
  @media (max-width: 991px) {
    .sidebar-overlay .navbar2 {
      padding: .875rem 1rem;
    }
  }
  
  .sidebar-overlay .navbar2 .navbar2-collapse {
    z-index: 100;
  }
  